

.footer-container{
    height: 80px;
    width: 100%;
    background-color: var(--color-primary);
    font-family: var(--font-josefin);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.footer-container a {
    font-size: 14px;
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

.footer-container a:hover{
    color: #fff;
}